 /* @import url(" https: //fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap"); */
 @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Geologica', sans-serif;
   /* font-family: 'Geologica', sans-serif; */
   ;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 li {
   list-style: none;
 }